/* share style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fonts-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.btn {
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: lightslategrey;
}

/* nav style */
nav{
    max-width: 1600px;
    margin: 0 auto;
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;

}

nav .menu{
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
    align-items: center;
}

nav .logo{
    margin: 16px 346px 16px 120px;
    
}

.menu a{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;


}
.menu .nav-btn{
    margin-left: auto;
    margin-right: 120px;

}