/* share style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fonts-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.btn {
    display: inline-flex; 
    align-items: center;       
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.btn:hover,
.btn-two:hover {
    background-color: lightslategrey;
}


/* nav style */
nav{
    max-width: 1600px;
    margin: 0 auto;
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;

}

nav .menu{
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
    align-items: center;
}

nav .logo{
    margin: 16px 346px 16px 120px;
    
}

.menu a{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;


}
.menu .nav-btn{
    margin-left: auto;
    margin-right: 120px;

}

#banner{ 
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 674px;
    background: url(./assets/hero-bg.png);
}

#banner .banner-container{
    text-align: center;
    margin: 0 auto;
    
}

#banner .banner-container .banner-text p{
    display: inline-flex;
    justify-content: center;
    gap: 6px;
    width: 230px ;
    margin: 0 auto;;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 8px;
    border-radius: 25px;
    margin-bottom: 16px;
}

#banner .banner-container .banner-text p span{
    width: 16px;
    height: 16px;
    background-color: #528a69;
    border-radius: 8px;
}


#banner .banner-container h1{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
    
}
#banner .banner-container h1 span{
    color: #469165;
    display: block;
}
#banner .banner-container p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    
}

#banner .banner-container .banner-button{
    padding: 12px 16px;
    display: inline-flex;
    gap: 16px;
    margin-top: 32px;
}

#banner .banner-container .banner-button img{
    margin-left: 12px;
    
}
.banner-container .banner-button .btn-two {
    background-color: #dee6e100;
    color: #FFFFFF;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

#notes, #early-access {
    width: 100%;
    max-width: 1600px;
    padding: 0px 120px 120px 120px;
}


#notes .notes-container{
    margin: 0 auto;
    text-align: center;
    width: 1360px;
    

}
.note-heading{
    margin-top: 30px;
    margin-bottom: 44px;
}
.notes-container .note-heading h1{
    font-size: 48px;
    font-weight: bold;
}
/* change */
.pera{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

 .note-info{
    display: flex;
    justify-content: center;
    min-height: 300px;
    gap: 24px;
    padding: 24px;
}

.note-info .note-card{
    width: 332px;
    /* height: 300px; */
    padding: 24px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(59, 59, 59, 0.1);
    
}
.note-card span{
    display: inline-flex;
    width: 60px;
    height: 60px;
    padding: 16px 14px;
    border-radius: 50%;
   background-color: #F95555;
   margin-bottom: 16px;
}


.note-card h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

#brain{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px;
    

}

#brain .brain-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;

}

.brain-container .brain-msg #section-message{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color:#469165;
    margin-bottom: 16px;
}
.brain-container .brain-msg h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
}

.brain-container .brain-list {
    margin-top: 32px;   
    
}
.brain-list ul{
    list-style: none;          
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;    
    gap: 16px;                 

}

.brain-list li{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    gap: 12px;
}

#early-access {
    max-width: 1600px;
    background-color: #F7F6F2;
    width: 1300px;
    height: 385px;
    margin: 0 auto;
    padding: 80px 40px 80px 40px;
}
#early-access .early-access-container{
    display: block;
    align-items: center;
    text-align: center;
    gap: 24px;    
}

.early-access-title{
    margin-bottom: 16px;
    padding-top: 40px;  
}

.early-access-message{
    padding-bottom: 80px;
}

#early-access .early-access-container h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}

.early-access-message button img{
    margin-left: 12px;
}

.footer{
    width: 100%;
    
    max-width: 1600px;
    margin: 0 auto;
    background-color:#001931;
    padding: 80px 120px 30px 120px;
}

.footer .footer-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 60px;
    padding: 120px 120px 80px 120px;
}

.footer .footer-container .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}
.footer .footer-container .social-links p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer .footer-container .social-links .icons{
    background-color: #F7F6F2;
    padding: 10px 12px;
    cursor: pointer;
}


hr{
    margin-bottom: 30px;
}

.footer .msg {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;   
    text-align: center;
}





