/* share style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fonts-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.btn {
    display: inline-flex; 
    align-items: center;       
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.btn:hover,
.btn-two:hover {
    background-color: lightslategrey;
}


/* nav style */
nav{
    max-width: 1600px;
    margin: 0 auto;
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;

}

nav .menu{
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
    align-items: center;
}

nav .logo{
    margin: 16px 346px 16px 120px;
    
}

.menu a{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;


}
.menu .nav-btn{
    margin-left: auto;
    margin-right: 120px;

}

#banner{ 
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 674px;
    background: url(./assets/hero-bg.png);
}

#banner .banner-container{
    text-align: center;
    margin: 0 auto;
    
}

#banner .banner-container .banner-text p{
    display: inline-flex;
    justify-content: center;
    gap: 6px;
    width: 230px ;
    margin: 0 auto;;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 8px;
    border-radius: 25px;
    margin-bottom: 16px;
}

#banner .banner-container .banner-text p span{
    width: 16px;
    height: 16px;
    background-color: #528a69;
    border-radius: 8px;
}





#banner .banner-container h1{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
    
}
#banner .banner-container h1 span{
    color: #469165;
    display: block;
}
#banner .banner-container p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    
}

#banner .banner-container .banner-button{
    padding: 12px 16px;
    display: inline-flex;
    gap: 16px;
    margin-top: 32px;
}

#banner .banner-container .banner-button img{
    margin-left: 12px;
    
}
.banner-container .banner-button .btn-two {
    background-color: #dee6e100;
    color: #FFFFFF;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}
